
body {
    width: 100vw;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.links{
    display: flex;
    gap: 25px;
}

.links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: transparent;
}

header,.one,.two,.three,.four,footer {
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
}

header{
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 0 auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}